
@{
    @{
        String actionName = ViewContext.RouteData.GetRequiredString("action");
        String title;

        switch (actionName)
        {
            case "Index":
                title = "All Tracks";
                break;
        }
    }
}

<h2>@Title</h2>

