@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>S2O22A2LG - Assignment2 - lgovindarajan</h1>
    <p class="lead"> This Web app assignemnt is for my S2O22A2LG class.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

